# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
_ReSharper.*

ConsoleRunner/KeyStorage.cs
FreeAgent.Tests/KeyStorage.cs
FreeAgent.Tests/test-results/

googlenews
output
RSSLog.txt
files
Deployment
*.vs10x
TestResults
ClientBin
Generated_Code
Bin
*.suo
*.user
.vs
*.cache
ServiceDefinition.build.csdef
*.docstates
lib
csx
packages/
[Dd]ebug/
[Tt]humbs.db
*.sln.ide
GeneratedAssemblyInfo.cs
*.DotSettings